$orange: rgba(252, 124, 60, 1);
$purple: rgba(70, 0, 176, 1);

.buy {
  z-index: 1;
  position: relative;
  width: 100%;
  height: max-content;
  min-height: 350px;

  &__container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: max-content;
    padding-bottom: 90px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    @media (min-width: 717px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
    max-width: 550px;

    @media (min-width: 717px) {
      align-items: flex-start;
      padding: 30px 20px 0 20px;
    }

    &-title {
      max-width: 510px;
      font-size: 2rem;

      @media (min-width: 530px) {
        font-size: 2.5rem;
      }

      @media (min-width: 1089px) {
        font-size: 3rem;
      }
    }

    &-sub {
      margin-top: 20px;
      max-width: 510px;
      text-align: justify;
      line-height: 2.3rem;
      font-size: 1rem;

      @media (min-width: 530px) {
        font-size: 1.2rem;
      }

      @media (min-width: 1089px) {
        font-size: 1.4rem;
      }
    }

    &-cta {
      margin-top: 20px;
      max-width: 510px;
      font-size: 1.3rem;
      text-align: center;

      @media (min-width: 530px) {
        font-size: 1.7rem;
      }

      @media (min-width: 717px) {
        text-align: initial;
      }

      @media (min-width: 1089px) {
        font-size: 2rem;
      }
    }
  }

  &__picture {
    margin: 0px;
    width: 230px;
    height: 230px;
    border: 5px solid rgba(252, 124, 60, 0.6);

    @media (min-width: 717px) {
      margin-left: 40px;
    }

    @media (min-width: 783px) {
      width: 300px;
      height: 300px;
    }

    @media (min-width: 843px) {
      width: 360px;
      height: 360px;
    }

    @media (min-width: 1067px) {
      width: 400px;
      height: 400px;
    }

    /*&::after {
      z-index: -1;
      position: relative;
      top: -130px;
      left: 200px;
      display: inline-block;
      content: "";
      width: 350px;
      height: 100px;
      background-color: rgba(70, 0, 176, 0.6);
    }*/
  }
}
