.filter-tool {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    cursor: pointer;

    &-item {
      text-decoration: none;
      background: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      cursor: pointer;
    }
  }
}
