$orange: rgba(252, 124, 60, 1);
$purple: #4600b0;

.layer {

  &-picture {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    overflow-x: hidden;
  }

  &-screen {
    
    &--black {
      z-index: -2;
      position: absolute;
      top: -180px;
      left: 0;
      width: 100vw;
      height: 800px;
      opacity: .8;

      @media (min-width: 627px) {
        top: -200px;
      }

      @media (min-width: 717px) {
        top: -290px;
      }

      @media (min-width: 783px) {
        top: -250px;
      }
    }
    
    &--white {
      z-index: -3;
      position: absolute;
      top: 75vh;
      left: 0;
      width: 100vw;
      height: 450vh;
      opacity: .8;

      @media (min-width: 717px) {
        top: 83vh;
      }

      @media (min-width: 858px) {
        height: 400vh;
      }

      @media (min-width: 1500px) {
        height: 350vh;
      }
    }

  }

  &-geometry {
    position: absolute;
    width: 100%;
    min-height: 300%;

    &__square {
      position: absolute;
      top: 78vh;
      left: 85vw;
      height: 100px;
      width: 100px;
      border: 5px solid $purple;
      opacity: 0.6;
    }

    &__square-2 {
      position: absolute;
      top: 84vh;
      left: 78vw;
      height: 300px;
      width: 150px;
      border: 10px solid $orange;
      opacity: 0.6;
    }

    &__square-3 {
      position: absolute;
      top: 25vh;
      left: 15vw;
      height: 100px;
      width: 100px;
      border: 7px solid $purple;
      opacity: 0.6;
    }

    &__square-4 {
      position: absolute;
      top: 28vh;
      left: 20vw;
      height: 200px;
      width: 200px;
      border: 1px solid $orange;
      opacity: 0.6;
    }
  }
}
