$orange: rgba(252, 124, 60, 1);
$purple: #4600b0;
$grey: rgba(45, 45, 46, 1);

.nav {
  display: flex;
  align-items: center;
  padding: 0 15px;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__link {
    display: block;
    margin-left: 20px;
    height: max-content;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

    &:hover {
      .nav__link__deco {
        opacity: 1;
        transform: scale(2.6);
      }
    }

    &__deco {
      z-index: -1;
      position: relative;
      transform-origin: 0% 50%;
      opacity: 0;
      transition: all 0.2s ease-out;
    }
  }

  &__cart-icon {
    height: 35px;
    width: 35px;
    background-color: transparent;
    filter: invert();
    text-decoration: none;
    color: white;
  }
}
