.plife {
  z-index: 1;
  position: relative;
  width: 100%;
  height: max-content;
  min-height: 700px;
  background-color: rgba(128, 43, 255, 0.8);

  &__title {
    width: max-content;
    margin: auto;
    padding: 60px 0;
    font-size: 2rem;

    @media (min-width: 530px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1089px) {
      font-size: 3rem;
    }
  }

  &__container {
    margin: auto;
    padding: 0 50px;
    max-width: 800px;
    overflow-x: hidden;
  }
}
