$orange: rgba(252, 124, 60, 1);
$purple: #4600b0;
$grey: rgba(45, 45, 46, 1);
$lightGrey: #f0f5f6;

.post {
  &__card {
    margin: 0 20px 60px 20px;
    height: max-content;
    max-width: 40%;
    width: 400px;
    min-width: 350px;
    border-radius: 6px;
    transition: all .3s ease-out;

    &:hover {
      transform: translateY(-20px);
      box-shadow: 0px 20px 0px rgba(252, 124, 60, 1);
    }

    &__picture {
      width: 100%;
      height: 250px;
      max-height: 250px;
      overflow: hidden;
    }

    &__text {
      color: white;
      padding: 10px 20px;

      &-title {
        margin-bottom: 15px;
        font-size: 1.3rem;

        @media (min-width: 530px) {
          font-size: 1.7rem;
        }

        @media (min-width: 1089px) {
          font-size: 2rem;
        }
      }

      &-excerpt {
        line-height: 2rem;
        font-size: 1rem;

        @media (min-width: 530px) {
          font-size: 1.2rem;
        }

        @media (min-width: 1089px) {
          font-size: 1.4rem;
        }
      }

      &-date {
        display: block;
        margin: 10px 0;
      }

      &-link {
        text-decoration: underline;
      }
    }
  }

  &__picture {
    width: 100%;
    height: 90vh;
    min-height: 700px;
  }

  &__title-container {
    position: absolute;
    top: 45vh;
  }

  &__title {
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid $purple;
    border-left: none;
    font-size: 2rem;

    @media (min-width: 530px) {
      padding: 30px 60px;
      font-size: 2.5rem;
    }

    @media (min-width: 1089px) {
      font-size: 3rem;
    }
  }

  &__author {
    &-container {
      padding: 10px 60px;
      background-color: rgba(255, 255, 255, .2);

      p {
        font-size: 1rem;

        @media (min-width: 530px) {
          font-size: 1.2rem;
        }
      }

      h3 {
        font-size: 1.3rem;
  
        @media (min-width: 530px) {
          font-size: 1.7rem;
        }
  
        @media (min-width: 1089px) {
          font-size: 2rem;
        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
  }

  &__richtext {
    margin: auto;
    padding: 30px 20px;
    max-width: 920px;
    line-height: 2rem;

    @media (min-width: 500px) {
      padding: 30px 60px;
    }

    a {
      color: $orange;
    }

    h1 {
      font-size: 2rem;

      @media (min-width: 530px) {
        font-size: 2.5rem;
      }

      @media (min-width: 1089px) {
        font-size: 3rem;
      }
    }
    
    h2 {
      font-size: 1.6rem;

      @media (min-width: 530px) {
        font-size: 2rem;
      }

      @media (min-width: 1089px) {
        font-size: 2.5rem;
      }
    }
    
    h3 {
      font-size: 1.3rem;

      @media (min-width: 530px) {
        font-size: 1.7rem;
      }

      @media (min-width: 1089px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1rem;

      @media (min-width: 530px) {
        font-size: 1.2rem;
      }

      @media (min-width: 752px) {
        font-size: 1.5rem;
      }
    }

    & > h1, > h2,> h3,> h4,> h5,> h6, > p,> a,> ol,> ul,> div {
      margin-bottom: 25px;
    }

    li > p {
      display: inline;
    }

  }
}
